[submodule "extern/rust_av_ssimulacra2"]
	path = extern/rust_av_ssimulacra2
	url = https://github.com/rust-av/ssimulacra2
[submodule "extern/cloudinary_ssimulacra2"]
	path = extern/cloudinary_ssimulacra2
	url = https://github.com/cloudinary/ssimulacra2
[submodule "extern/fssimu2"]
	path = extern/fssimu2
	url = https://github.com/gianni-rosato/fssimu2
[submodule "extern/fast-ssim2"]
	path = extern/fast-ssim2
	url = https://github.com/imazen/fast-ssim2.git
[submodule "extern/vapoursynth-zip"]
	path = extern/vapoursynth-zip
	url = https://github.com/dnjulek/vapoursynth-zip.git
[submodule "extern/Vship"]
	path = extern/Vship
	url = https://codeberg.org/Line-fr/Vship.git
